@mixin box-shadow ($pos, $opacity, $important: false) {
    $_pos: 0px 0px 3px 0px ;
    @if($pos == top){
        $_pos: 0px 3px 11px 0px ;
    }@else if($pos == left) {
        $_pos: -2px 0px 11px -4px;
    }

    $rgb: rgba(0,0,0,$opacity);
    @if($important == true){        
        $rgb: rgba(0,0,0,$opacity) !important;
    }

    box-shadow: $_pos $rgb;
}