/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$background-xedit-base-dark: #3a9e8f;
$background-xedit-base-light: #44c4b1;
$background-xedit-alternative-dark: #E1E4E6;
$background-xedit-alternative-light: #EDEFF2;
$background-default-color: #fcfcfc;
$background-navs-color: #EEEEEE;
$taskbar-height: 46px;