/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import '~sass/mixins';

$black-darker: #202624;
$black-dark: #3f4946;

$green-darker: #1e574e;
$background-xedit-base-dark: #3a9e8f;
$green-dark: #3a9e8f;
$background-xedit-base-light: #44c4b1;
$green-light: #44c4b1;

$white-darker: #959595;
$background-xedit-alternative-dark: #E1E4E6;
$white-dark: #e1e4e6;
$background-xedit-alternative-light: #EDEFF2;
$white-light: #edeff2;
$background-default-color: #fcfcfc;
$background-navs-color: #EEEEEE;
$taskbar-height: 46px;