/* You can add global styles to this file, and also import other style files */
@import '~sass/fonts/lato';
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import '~sass/mixins';

$black-darker: #202624;
$black-dark: #3f4946;
$black-warm: #474d4b;
$black-light: #5f6362;

$green-darker: #1e574e;
$green-dark: #3a9e8f;
$green-warm: #3ea091;
$green-light: #44c4b1;

$blue-dark: #214e61;
$blue-light: #295e75;
$blue-lighter: #31718d;

$white-darker: #959595;
$white-dark: #c4c2c2;
$white-warm: #e1e4e6;
$white-light: #edeff2;
$white-lighter: #fcfcfc;
$white-ximdex: #f9f9f9;

$red-warm: #d13737;
$red-light: #db4949;

$taskbar-height: 46px;
$tabs-height: 35px;
$tabs-height-small: 30px;

$font-family: 'Lato', sans-serif;

$font-size-small: 12px;
$font-size-default: 14px;
$font-size-big: 16px;

$icon-size-default: 18px;

$font-default: normal $font-size-default $font-family;