@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import './../lib/dam/style.scss';
@import '~angular-tree-component/dist/angular-tree-component.css';

html,
body,
body > app-root{
    min-height: 100%;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background: $white-lighter;
}

[xe_selected]{
    outline: 2px dotted #333 !important;
}

[xe_w_selected]{
    outline: 1px solid green !important;
}

[xe_selected]::before {
    content: attr(xe_selected);
    position: absolute;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-top: -20px !important;
    background: green !important;
    font-weight: normal !important;
    padding: 0 10px !important;
    color: white !important;
    font-size: 14px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    box-sizing: border-box;
    overflow: hidden;
}

a{
    display: inline-block;
}

app-acordion {
    .app-acordion {
        .form {
            > h3 {
                font-size: 14px;
                text-align: left;
                margin: 5px 0 10px 0;
            }
            > ul {
                padding: 0;
                margin: 0;
                list-style: none;

                > li {
                    padding: 5px 0;
                }
            }
        }
    }
}

.no-editable {
    position: relative;
    user-select: none;
    
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        content: '';
        opacity: 0.5;
        background: repeating-linear-gradient(-45deg,#909090, #909090 10px, #b9b9b9 10px, #b9b9b9 20px);
        border: 1px solid #d3d3d3;
    }
}

// MODAL
.sc-modal-close{
    z-index: 10000;
}

.modal.modal-open{
    display: block; 
}

sc-modal.default {
    text-align: unset !important;
}

app-tree-modal{
    z-index: 100000;
}

// DAM and Tree

div#dam-path { 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%; 
    display: inline-block; 
}

#modal-1 {
    .nsm-dialog {
        height: 50rem;
        width: 60%;
        top:20%;
    }
    .nsm-content {
        height: 100%;
    }

    .nsm-body {
        border: 1px solid #cccc;
    }
    .nsm-dialog-btn-close {
        margin-right: 2rem;
        margin-top: 1rem;
    }
}

// TREE (TO DO fix)
// .angular-tree-component {
//     margin-top: 2rem;
// }

// METADATA FORM

.metadata-question {
    margin-top: 1rem;
    min-height: 9rem;
    input {
        padding: 0 1em 0 1em;
        width: 30rem;
    }
    .ng-select {
        width: 30rem;
        margin: auto;
    }
    label {
        color: #5f6362;
    }
}

.dynform-section {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    .dynform-header {
        background-color: #00a397;
        color: white;
        font-weight: bold;
    }
    .dynform-header.form-hidden {
        background-color: #cccccc;
        color: black;
    }   
}


.nav-tabs {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

@import 'tinymce';
@import '../lib/dam/themes/light.scss';