@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

html,
body,
body > app-root{
    min-height: 100%;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background: $white-lighter;
}

[xe_selected]{
    outline: 2px dotted #333 !important;
}

[xe_w_selected]{
    outline: 1px solid green !important;
}

[xe_selected]::before {
    content: attr(xe_selected);
    float: right;
    margin-top: -20px;
    background: green;
    padding: 0 10px;
    color: white;
}