<header (clickOutside)="closeAttributes()">
    <div>
        <nav id="xedit-taskbar" class="taskbar">
            <ul>
                <li (click)="save()">
                    <i class="fas fa-save"></i>
                </li>
                <li class="separator"></li>
                <li (click)="undo()" [ngClass]="{disabled: !previousAvailable()}">
                    <i class="fas fa-undo"></i>
                </li>
                <li (click)="redo()" [ngClass]="{disabled: !nextAvailable()}">
                    <i class="fas fa-redo"></i>
                </li>
            </ul>
        </nav>
        <aside class="title">
            <h2 (click)="toggleAttributes($event)" id="xe-task-title">
                {{ title }}
                <i class="fas fa-caret-down"></i>
            </h2>
        </aside>
        <nav class="views">
            <ul class="actions">
                <li class="option-button">
                    <i [ngClass]="{'fas': true, 'fa-eye': stateActive === false, 'fa-eye-slash': stateActive === true}" (click)="toggleElementState($event)"></i>
                    <aside (click)="openStates($event)">
                        <i class="fas fa-caret-down"></i>
                    </aside>
                    <div class="action-panel" *ngIf="toogleStateConfigs" (click)="$event.stopPropagation()" (clickOutside)="closeStates()">
                        <app-state-controller [(configs)]="configs" (updated)="saveStateConfigs($event)"></app-state-controller>
                    </div>
                </li>
                <li class="separator"></li>
            </ul>
            <ul *ngIf="hasMultiViews()">
                <li (click)="showComponent(view)" *ngFor="let view of availableViews" [ngClass]="{selected: currentView === view, tabs: true}">
                    {{ view == 'wysiwyg' ? 'Visual' : 'Texto' }}
                </li>
            </ul>
        </nav>
    </div>
    <div id="attributes" *ngIf="displayToggle" [@toggleAtributes]>
        <app-properties-global></app-properties-global>
    </div>
</header>