@import '~sass/variables';

:host{
    position: relative;
    z-index: 10;

    > header{
        background-color: $green-dark;
        position: relative;
        font: $font-default;

        > nav.taskbar{
            position: relative;
            display: flex;
            z-index: 2;
            padding: 0;
            margin: 0;
            width: 100%;
            min-height: $taskbar-height;
            max-height: $taskbar-height;
            @include box-shadow(bottom, 0.57);

            > ul{
                flex-grow: 2;
                padding: 0;
                margin: 0;
                list-style: none;
                height: $taskbar-height;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 5px;

                > li{
                    margin: auto 5px auto 0;
                    padding: 5px 10px;
                    color: $white-dark;
                    transition: color 0.3s ease-in-out;
                    cursor: pointer;

                    > i{
                        font-size: $icon-size-default;
                    }

                    &.separator {
                        padding: 0;
                        height: $taskbar-height - 16px;
                        width: 1px;
                        margin: auto 0;
                        background-color: $green-light;
                    }

                    &:hover{
                        color: white;
                    }

                    &.disabled{
                        cursor: not-allowed;
                        color: $green-light;
                    }
                }
            }

            > .action {
                margin: auto 5px auto 0;
                padding: 5px 10px;
                color: $white-dark;
                cursor: pointer;
                transition: color 0.3s ease-in-out;

                > i{
                    font-size: 20px;
                }

                &:hover{
                    color: white;
                }
            } 
        }

        > nav.views {
            height: 0;
            width: 100%;
            background-color: $white-dark;
            @include box-shadow(bottom, 0.57);
            transition: height 0.25s;

            position: absolute;
            top: $taskbar-height;
            z-index: 1;

            overflow: hidden;

            &.opened {
                height: $tabs-height;
            }

            > .menu {
                position: absolute;
                display: flex;
                align-items: flex-end;
                bottom: 0;
                height: $tabs-height;
                flex-direction: row;
                list-style: none;
                padding: 0;
                margin: 0;

                > li {
                    margin: auto 0 0 0;
                    padding: 0 15px 5px 15px;
                    border-bottom: 2px solid transparent;
                    color: $white-darker;
                    text-transform: uppercase;
                    font-size: $font-size-small;
                    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        border-bottom-color: $green-light;
                    }

                    &.selected {
                        border-bottom-color: $green-dark;
                        color: $green-darker;
                    }
                }                
            }
        }
    }
}