<nav id="xedit-taskbar" class="taskbar">
  <ul>
    <li (click)="load()">
      <i class="fas fa-upload"></i>
      <input style='position:absolute; left:-1000px' type="file" name="open_html" id="open_html" (change)="onFileSelect($event)">
    </li>
    <li>
      <i class="fas fa-save"></i>
    </li>
    <li class="separator"></li>
    <li (click)="undo()" [ngClass]="{disabled: !previousAvailable()}">
      <i class="fas fa-undo"></i>
    </li>
    <li (click)="redo()" [ngClass]="{disabled: !nextAvailable()}">
      <i class="fas fa-redo"></i>
    </li>    
  </ul>
</nav>
<main *ngIf="hasMultiViews()">
  <ul>
    <li 
      (click)="showComponent(view)" 
      *ngFor="let view of availableViews"
      [ngClass]="[isActivatedComponent(view)? 'selected' : '']"
    >
        {{view}}
    </li>
  </ul>
</main>

<div id='toolbar'></div>
