<main>
    <section>
        <!-- WYSIWYG VIEW -->
        <app-wysiwyg-view (onEditorKeyup)="keyupHandlerFunction($event)" (selectNode)="setCurrentNode($event)" *ngIf="showComponent('wysiwyg')">
        </app-wysiwyg-view>
        <!-- END WYSIWYG VIEW -->

        <!-- TEXT VIEW -->
        <app-text-view *ngIf="showComponent('text')"> </app-text-view>
        <!-- END TEXT VIEW -->
    </section>
    <!-- BREADCRUMBS -->
    <app-breadcrumb (selectNode)="setCurrentNode($event)"></app-breadcrumb>
    <!-- END BREADCRUMBS -->
</main>
<app-properties-area ngDraggable *ngIf="showComponent('wysiwyg')"></app-properties-area>