:host{
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    > main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        > section {
            flex-grow: 2;
            position: relative;
            z-index: 1;
        }
    }
}