<ng-template [ngIf]="currentNode != null">
    <h3> Tag: {{ currentNode.name }}</h3>
    <ng-container *ngFor="let group of currentProperties | keys">
        <app-acordion [title]='group' [className]="'form'">
            <ng-container [ngSwitch]="group">
                <ng-container *ngSwitchCase="'style'">
                    <app-multi-input-acordion [values]="currentProperties[group]" actionText="Add new style" (changeValue)="changeStyle($event)"></app-multi-input-acordion>
                </ng-container>
                <ng-container *ngSwitchCase="'class'">
                    <app-input-acordion [values]="currentProperties[group]" actionText="Add new class" (changeValue)="changeClass($event)"></app-input-acordion>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <div id="xe-center-acordion">
                        <app-multi-input *ngFor="let value of currentProperties[group]" [data]="value" (changeValue)="cnageProperty($event)"></app-multi-input>
                    </div>
                </ng-container>
            </ng-container>
        </app-acordion>
    </ng-container>
</ng-template>