@import '~sass/variables';

:host {
    flex-grow: 1;
    background-color: $white-light;
    display: block;

    > .xe-acordion-title {
        display: flex;
        margin: 5px 0;
        
        > app-button {
            flex-grow: 2;
        }
    }

    > .xe-acordion-element {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: row;
            margin: 5px 0;

            > app-multi-input {
                flex-grow: 1;
                width: 0;
            }

            > button {
                width: 16px;
                height: 16px;
                padding: 0;
                line-height: 16px;
                font-size: 12px;
                text-align: center;
                border-radius: 100%;
                background-color: $red-light;
                color: $white-light;
                border:0;
                margin: auto 0 auto 5px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: $red-warm;
                }
            }
        }
    }
}