<div>
    <header>Metadatos</header>
    <main>
        <ng-container *ngFor="let meta of metas" [ngSwitch]="meta.type">
            <ng-container *ngSwitchCase="'string'">
                <app-multi-input [data]="createMetaObject(meta)" (changeValue)="changeMetadata($event.new[meta.name], meta.name)"></app-multi-input>
            </ng-container>
            <ng-container *ngSwitchCase="'enum'">
                <strong> {{meta.name}}</strong> :
                <app-listbox [placeholder]="meta.name" [selected]="meta.value" [options]="meta.options" (changeValue)="changeMetadata($event, meta.name)"></app-listbox>
                <br/>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <strong> {{meta.name}}</strong> : {{meta.value}}
                <br/>
            </ng-container>
        </ng-container>
    </main>
</div>
<div>
    <header>Estados</header>
    <main>
        <ng-container *ngFor="let value of states">
            <p (click)="restoreSnaptshot(value.key)">{{ value.message }}</p>
        </ng-container>
    </main>
</div>