<div class="tab-cont">
  <form #dynTabForm (ngSubmit)="onSubmit()" [formGroup]="tabform">
    <dam-tabs *ngIf="tabs.length > 1 || forceTabs; else singleForm">
      <dam-tab *ngFor="let tab of tabs" [title]="tab.title" class="tab-container">
        <ng-container *ngIf="formMapper.hasSections; else noSection">
          <app-section 
            *ngFor="let section of tab.sections; let i = index" 
            [title]="section.title"
            [isHidden]="i === 0 ? false : true"
          >
            <app-question 
              *ngFor="let question of section.questions" 
              class="tabs-q" 
              [question]="question" 
              [form]="tabform"
              [token]="token"
              [questionClass]="questionClass"
              [fetchUrl]="fetchUrl"
              >
            </app-question>
          </app-section>
        </ng-container>
        <ng-template #noSection>
          <div class="single-cont">
            <app-question 
              *ngFor="let question of tab.questions" 
              class="tabs-q" 
              [question]="question" 
              [form]="tabform"
              [token]="token"
              [questionClass]="questionClass"
              [fetchUrl]="fetchUrl">
            </app-question>
          </div>
        </ng-template>
      </dam-tab>
    </dam-tabs>
    <ng-template #singleForm>
      <ng-container *ngFor="let tab of tabs">
        <div class="single-cont">
          <div *ngFor="let question of questions" class="form-row">
            <app-question 
            [question]="question" 
            [form]="tabform"
            [token]="token"
            [questionClass]="questionClass"
            [fetchUrl]="fetchUrl">
            </app-question>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </form>
</div>