.tab-cont {
    width: 100%;
}

.tab-cont form {
    margin-top: -1em;
}

.form-tabs {
    display: flex;
    justify-content: center;
}

.tabs-q {
    flex: 0 50%;
    text-align: center;
}

.tabs-q div {
    align-items: baseline;
}

.tabs-title {
    width: 100%;
    text-align: center;
}
.tabs-title h2 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #00a397;
}
.tabs-title:hover {
    cursor: pointer;
}
.tab-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-cont {
    width: 100%;
    padding-top: 1em;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fill, 40rem); */
    height: 100%;
    grid-template-rows: 10rem;
    align-items: center;
}
