.xe_form_input {
    width: 100%;
    display: flex;
    font: $font-default;
    padding: 8px 5px;

    > .xe_form_input_label {
        max-width: 100px;
        min-width: 100px;
    }

    > .xe_form_input_value {
        font-weight: normal;
        flex-grow: 2;
    }

}