@import '~sass/variables';

:host {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    font-size: 14px;

    > label {
        max-width: 100px;
    }

    > input {
        flex-grow: 1;
        text-indent: 5px;
        width: 0;
    }

    > * {
        margin: auto 5px auto 0;
    }

    &:last-child(){
        margin: auto 0;
    }
}