$main_color: #000 !default;

$btn_main_color: #dddddd !default;
$btn_alt_color: #9e9e9e !default;
$btn_main_font_color: #5c5c5c !default;
$btn_alt_font_color: #ffffff !default;

$separator_main_color: #dddddd !default;
