<div>
    <p *ngIf="!isHtmlValid" style="color:rgb(233, 113, 113)">HTML INVÁLIDO</p>
</div>

<div id="tabs">
    <ng-container *ngFor="let editorNode of editorNodes; let i = index">
        <div [ngClass]="{selected: (openEditor.id === editorNode.id)}" *ngIf="openEditor.id === editorNode.id; else actionTab">
            {{ editorNode.title }}
        </div>
        <ng-template #actionTab>
            <div [ngClass]="{selected: (openEditor.id === editorNode.id)}" (click)="changeView(editorNode, i)">
                {{ editorNode.title }}
            </div>
        </ng-template>
    </ng-container>
</div>

<ace-editor #aceEditor [text]="getRenderContent()" id="getId()" [durationBeforeCallback]=500 [autoUpdateContent]="reloadAceEditor"
    [readOnly]="isReadOnly()" [theme]="'dreamweaver'" [mode]="'html'" [ngStyle]="styleMode"></ace-editor>