<div [ngClass]="questionClass" [formGroup]="form">
    <label [attr.for]="question.key">
        {{ question.label }}
        <span style="color:red" *ngIf="question.required">*</span>
    </label>

    <div [ngSwitch]="question.controlType">
        <input
            *ngSwitchCase="'text'"
            [formControlName]="question.key"
            [id]="question.key"
            [ngModel]="question.val"
            [type]="question.type"
            [required]="question.required"
        />
        <input
            *ngSwitchCase="'date'"
            [formControlName]="question.key"
            [id]="question.key"
            [ngModel]="question.val | date: 'yyyy-MM-dd'"
            [type]="question.type"
            [required]="question.required"
        />

        <div *ngSwitchCase="'image'" class="question-img">
            <input
                [formControlName]="question.key"
                [id]="question.key"
                [ngModel]="question.val"
                [type]="text"
                [required]="question.required"
            />
            <button (click)="clicked($event)">
                <i class="far fa-images"></i>
            </button>
        </div>

        <textarea
            *ngSwitchCase="'text-area'"
            class="dam-textarea"
            [formControlName]="question.key"
            [id]="question.key"
            [required]="question.required"
            >{{ question.val }}
        </textarea>

        <ng-select
            class="dam-select"
            [id]="question.key"
            [(ngModel)]="question.val"
            *ngSwitchCase="'dropdown'"
            [formControlName]="question.key"
            [items]="question.options"
            bindValue="key"
            bindLabel="value"
            [multiple]="question.multi"
            [required]="question.required"
        >
        </ng-select>
        <ng-select
            class="dam-select"
            [id]="question.key"
            [ngModel]="question.val"
            *ngSwitchCase="'depdrop'"
            [formControlName]="question.key"
            [items]="question.options"
            [required]="question.required"
        >
        </ng-select>
    </div>
</div>
