@import '~sass/variables';

:host {
    flex-grow: 1;
    background-color: $white-light;

    > .xe-acordion-title {
        margin: 5px 0;
        display: flex;
        
        > app-button {
            flex-grow: 2;
        }
    }

    > div {
        display: flex;
        flex-direction: row;
        margin: 5px 0;

        > input {
            flex-grow: 2;
            text-indent: 5px;
            width: 0;
        }

        > button {
            width: 16px;
            height: 16px;
            padding: 0;
            line-height: 16px;
            font-size: 12px;
            text-align: center;
            border-radius: 100%;
            background-color: $red-light;
            color: $white-light;
            border:0;
            margin: auto 0 auto 5px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $red-warm;
            }
        }
    }    
}