@import '~sass/variables';

:host {
    flex-grow: 1;
    background-color: $background-default-color;
    height: 100%;
    display: block;
    background: #e3e3e3 !important;
}

.mce-content-body{
    line-height: 0 !important;
}