/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$background-default-color: #fcfcfc;
$background-navs-color: #EEEEEE;
$taskbar-height: 46px;